body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    color: rgb(25, 25, 25);
}

.header {
    background-color: rgb(15, 5, 42);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 12px;
}

nav ul li a:hover {
    background-color: rgba(12, 112, 162, 0.5);
    border-radius: 5px;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 5%;
    background-color: #f4f4f4;
    flex-wrap: wrap; 
}

.contact-info {
    flex: 1;
    background-color: #2c3e50;
    color: white;
    padding: 45px;
    text-align: center;
    border-radius: 10px;
    width: 100px; 
    height: 350px; 
    margin-right: 50px;
}

.contact-info img {
    width: 600px;
    height: 300px;
    margin-bottom: 15px;
}

.contact-info p {
    font-size: 16px;
}

.contact-form {
    flex: 1;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
}

.contact-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.contact-form textarea {
    height: 120px;
    resize: none;
}

.contact-form button {
   /* background-color: #007bb5;*/
    background-color: #003c58;
    color: white;
    padding: 12px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    transition: 0.2s;
}

.contact-form button:hover {
    background-color: #047db5;
}

.footer-bar {
    background-color: #01032d;
    color: white;    
    padding: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.footer-bar .My-number {
    color: white;    
    font-weight: bold;
}